{% extends 'base.html' %}


{% block title %}Студенты{% endblock title %}


{% block active_students %}active{% endblock %}


{% block content %}
            <h3>Список студентов</h3>
            <table >
                <tr>
                    <th>#</th>
                    <th>фамилия имя</th>
                    <th>адрес</th>
                    <th>skype</th>
                    <th>курсы</th>
                </tr>
                {% for i in students %}
                <tr>
                    <td>{{i.id}}</td>
                    <td><a href="{% url 'students:detail' i.id %}">{{i.surname}} {{i.name}}</a></td>
                    <td>{{i.address}}</td>
                    <td>{{i.skype}}</td>
                    <td>{% for j in i.courses.all %}
                            <a href="{%  url 'courses:detail' j.id %}">{{ j.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
{% endblock content %}


{% include 'include/footer_include.html' %}