{% extends 'base.html' %}


{% block title %}Студенты{% endblock title %}


{% block active_students %}active{% endblock %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="messages">
                        {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <p><a class="add_student_button" href="{% url 'students:add' %}">Добавить нового студента</a></p>
    <h3>Список студентов</h3>
    <table >
        <tr>
            <th>#</th>
            <th>фамилия имя</th>
            <th>адрес</th>
            <th>skype</th>
            <th>курсы</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'students:detail' i.id %}">{{ i.surname }} {{ i.name }}</a></td>
            <td>{{ i.address }}</td>
            <td>{{ i.skype }}</td>
            <td>{% for j in i.courses.all %}
                    <a href="{%  url 'courses:detail' j.id %}">{{ j.name }}</a><br>
                {% endfor %}
            </td>
            <td>
                <a class="add_student_button" href="{% url 'students:edit' i.id %}">Изменить</a>
            </td>
            <td>
                <a class="add_student_button" href="{% url 'students:remove' i.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <ul class="nav nav-pills">

            {% if page_obj.has_previous %}
                <li><a href="{{ course_id }}page={{ page_obj.previous_page_number }}"><< previous</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="current"><a href="{{ course_id }}page={{ page }}"> {{ page }}</a></li>
                {% else %}
                    <li><a href="{{ course_id }}page={{ page }}"> {{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="{{ course_id }}page={{ page_obj.next_page_number }}">next >></a></li>
            {% endif %}

        </ul>
    {% endif %}
{% endblock content %}