<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts Python WebBursa</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div id="main_page">
    <div id="page">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li ><a href="index.html">Main</a></li>
                    <li class="active"><a href="contact.html">Contacts</a></li>
                    <li><a href="student_list.html">Students</a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <h3>Contacts</h3>
            <!-- Навигация -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#director" aria-controls="director" role="tab" data-toggle="tab">Director</a></li>
                <li><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">Manager</a></li>
                <li><a href="#founder" aria-controls="founder" role="tab" data-toggle="tab">Founder</a></li>
            </ul>
            <!-- Содержимое вкладок -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="director">
                    <h3>Director</h3>
                    <b>Name: Vasya </b><br/>
                    <b>Skype: vasyok </b><br/>
                    <b>Email: <a href="mailto:info@yoursite.com">vasya_director@ggg.com </a></b><br/>
                    <b>Phone: 8050505050</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="manager">
                    <h3>Manager</h3>
                    <b>Name: Manager </b><br/>
                    <b>Skype: mangerok </b><br/>
                    <b>Email: <a href="mailto:info@yoursite.com">vasya_manager@ggg.com</a></b> <br/>
                    <b>Phone: 8050505051</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="founder">
                    <h3>Founder</h3>
                    <b>Name: Founder </b><br/>
                    <b>Skype: founderok </b><br/>
                    <b>Email: <a href="mailto:info@yoursite.com">vasya_founder@ggg.com</a> </b><br/>
                    <b>Phone: 8050505052</b>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Created By <a href="https://github.com/volartem" target="_blank">volartem</a> with PyBursa community</p>
    </div>
</div>
</body>
</html>