{% extends 'base.html' %}


{% block title %}Contacts{% endblock title %}


{% block active_contact %}active{% endblock %}


{% block content %}
            <h3>Contacts</h3>
            <!-- Навигация -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#director" aria-controls="director" role="tab" data-toggle="tab">Director</a></li>
                <li><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">Manager</a></li>
                <li><a href="#founder" aria-controls="founder" role="tab" data-toggle="tab">Founder</a></li>
            </ul>
            <!-- Содержимое вкладок -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="director">
                    <h3>Director</h3>
                    <b>Name: Vasya </b><br/>
                    <b>Skype: vasyok </b><br/>
                    <b>Email: <a href="mailto:info@yoursite.com">vasya_director@ggg.com </a></b><br/>
                    <b>Phone: 8050505050</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="manager">
                    <h3>Manager</h3>
                    <b>Name: Manager </b><br/>
                    <b>Skype: mangerok </b><br/>
                    <b>Email: <a href="mailto:info@yoursite.com">vasya_manager@ggg.com</a></b> <br/>
                    <b>Phone: 8050505051</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="founder">
                    <h3>Founder</h3>
                    <b>Name: Founder </b><br/>
                    <b>Skype: founderok </b><br/>
                    <b>Email: <a href="mailto:info@yoursite.com">vasya_founder@ggg.com</a> </b><br/>
                    <b>Phone: 8050505052</b>
                </div>
            </div>
{% endblock content %}