<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python WebBursa</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div id="page">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active"><a href="index.html">Main</a></li>
                <li><a href="contact.html">Contacts</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <h2>Python WebBursa - программирования на Python и Django </h2>
        <h3>Description</h3>
        Освоить разработку веб-приложений на Python и Django легко,
        если делать это с нами. <br/>Python WebBursa поможет выучить web-программирование быстро и интересно!
        Только интересное обучение приносит пользу. На курсах Python WebBursa ты узнаешь, что такое веб-разработка - и ты будешь хотеть учиться!
        Онлайн занятия помогают легче воспринимать новый материал, а домашние задания позволяют начать сразу же активно применять полученные знания.
        Учить web-разработку на Django онлайн легко - убедись сам!
        <h3>Program</h3>
        <ul id="progr">
            <li>Основы Python</li>
            <li>Строки и итераторы</li>
            <li>Функции и модульность</li>
            <li>Библиотеки и пакетный менеджер</li>
            <li>Классы и ООП, основы</li>
            <li>Классы и ООП, возможности Python</li>
            <li>Работа с файлами</li>
            <li>Работа с датами</li>
            <li>Основы html/css</li>
            <li>Основы JavaScript</li>
            <li>Основы Web, HTTP</li>
            <li>Django first steps</li>
            <li>Структура Web приложения</li>
            <li>Работа с базами данных, ORM</li>
            <li>Кастомизация админки</li>
            <li>Язык шаблонов</li>
            <li>Forms</li>
            <li>Class-based (Generic) Views</li>
            <li>Реализация стандартных задач</li>
            <li>Средства отладки и тестирование</li>
            <li>Деплоймент
        </ul>
        <h3>Почему стоит пойти на эти курсы</h3>
        <ul>
            <li>Писать приложения на Python\Django просто и понятно;</li>
            <li>Python есть в Google, Dropbox, Twitter;</li>
            <li>Junior Developer с навыками Python\Django всегда нужны;</li>
            <li>Ты освоишь web-разработку на Django за 6 недель;</li>
            <li>Junior разработчик на Python зарабатывает на 30% больше конкурентов.</li>
        </ul>
        <a href="https://docs.google.com/document/d/1M3QRn71_rP6hFx-LKndPGNAvEWntbb-0asVH5OFzZo8/edit#" target="_blank">Подробнее о программе курса</a>
    </div>
</div>
</body>
</html>