{% extends "base_form.html" %}

{% block title %}Login{% endblock %}

{% block active_login %}active{% endblock %}

{% block for_title %}Login here{% endblock %}

    {% block form %}
    <form id="form" class="form-horizontal" method="POST" action=".">
    {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control" name="email"  placeholder="Email">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <div class="form-group">

            <div class="col-sm-12 controls">
                <a href="{% url 'registration' %}">Register here</a>
                <button type="submit" href="#" class="btn btn-primary pull-right"> Log in  <i class="glyphicon glyphicon-log-in"></i></button>
            </div>
        </div>

    </form>
    {% endblock %}
