{% extends "base_form.html" %}

{% block title %}Register User{% endblock %}


{% block for_title %}Register here{% endblock %}

        {% block form %}
        <form name="form" id="form" class="form-horizontal" method="POST" action=".">
        {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.username }}
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.first_name }}
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form.last_name }}
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                {{ form.email }}
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password1 }}
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.password2 }}
            </div>

            <div class="form-group">

                <div class="col-sm-12 controls">
                    <a href="{% url 'login' %}">Login here</a>
                    <button type="submit" href="#" class="btn btn-primary pull-right">Register  <i class="glyphicon glyphicon-ok"></i></button>
                </div>
            </div>

        </form>
        {% endblock %}