{% extends 'base.html' %}


{% block title %}Students{% endblock title %}


{% block active_students %}active{% endblock %}


{% block content %}
            <h2>Студенты курса Python WebBursa</h2>
            <p>Ниже представлен список студентов курса Python WebBursa осень 2016</p>
            <table>
                <tr>
                    <th>No</th>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Skype</th>
                </tr>
                <tr onclick="">
                    <td><a href="{% url 'student_detail' %}" target="_blank">1</a></td>
                    <td><a href="{% url 'student_detail' %}" target="_blank">Petrov</a></td>
                    <td><a href="{% url 'student_detail' %}" target="_blank">Petya</a></td>
                    <td>Kharkov</td>
                    <td>petr</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sidorov</td>
                    <td>Sidor</td>
                    <td>London</td>
                    <td>sidor</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ivanov</td>
                    <td>Ivan</td>
                    <td>New York</td>
                    <td>ivan</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Semenov</td>
                    <td>Semen</td>
                    <td>Pekin</td>
                    <td>semen</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kipyatkov</td>
                    <td>Sidor</td>
                    <td>Moscow</td>
                    <td>kipyatkov</td>
                </tr>
            </table>
{% endblock content %}