<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal student</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div id="main_page">
    <div id="page">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a href="index.html">Main</a></li>
                    <li><a href="contact.html">Contacts</a></li>
                    <li><a href="student_list.html">Students</a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <h2>Petrov Petr</h2>
            <p><b>Student's info</b></p>
            <table>
                <tr>
                    <td>Surname</td>
                    <td>Petrov</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Petya</td>
                </tr>
                <tr>
                    <td>Patronymic</td>
                    <td>Petrovich</td>
                </tr>
                <tr>
                    <td>Birth Date</td>
                    <td>01.01.1991</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Kharkov, st. Kharkovsaya</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>petya@ggg.com</td>
                </tr>
                <tr>
                    <td>Skype</td>
                    <td>petr</td>
                </tr>
                <tr>
                    <td>Problem Task</td>
                    <td>nothing №1</td>
                </tr>
                <tr>
                    <td>Tests</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>Average Grade</td>
                    <td>102</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="footer">
        <p>Created By <a href="https://github.com/volartem" target="_blank">volartem</a> with PyBursa community</p>
    </div>
</div>
</body>
</html>