<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
<div id="main_page">
    <div id="page">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a href="index.html">Main</a></li>
                    <li><a href="contact.html">Contacts</a></li>
                    <li class="active"><a href="student_list.html">Students</a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <h2>Студенты курса Python WebBursa</h2>
            <p>Ниже представлен список студентов курса Python WebBursa осень 2016</p>
            <table>
                <tr>
                    <th>No</th>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Skype</th>
                </tr>
                <tr onclick="">
                    <td><a href="student_detail.html" target="_blank">1</a></td>
                    <td><a href="student_detail.html" target="_blank">Petrov</a></td>
                    <td><a href="student_detail.html" target="_blank">Petya</a></td>
                    <td>Kharkov</td>
                    <td>petr</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sidorov</td>
                    <td>Sidor</td>
                    <td>London</td>
                    <td>sidor</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ivanov</td>
                    <td>Ivan</td>
                    <td>New York</td>
                    <td>ivan</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Semenov</td>
                    <td>Semen</td>
                    <td>Pekin</td>
                    <td>semen</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kipyatkov</td>
                    <td>Sidor</td>
                    <td>Moscow</td>
                    <td>kipyatkov</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="footer">
        <p>Created By <a href="https://github.com/volartem" target="_blank">volartem</a> with PyBursa community</p>
    </div>
</div>
</body>
</html>