{% extends 'base.html' %}


{%  block title %}{{ course.name }}{% endblock %}


{% block students_get %}?course_id={{ course.id }}{% endblock %}


{% block content %}
    {% if messages %}
        <div class="messages">
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{msg.message}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h3>{{course.name}}</h3>
    <p class="description">{{ course.description }}</p>

    {% if course.coach %}
        <div class="master">
            <p class="description"><b>Учитель</b></p>
            <p><a href="{% url 'coaches:detail' course.coach.id %}">{{ course.coach.full_name }}</a></p>
            <p>{{ course.coach.description }}</p>
        </div>
    {% endif %}

    {% if course.assistant %}
    <div class="master">
        <p class="description"><b>Ассистент</b></p>
        <p><a href="{% url 'coaches:detail' course.assistant.id %}">{{ course.assistant.full_name }}</a></p>
        <p>{{ course.assistant.description }}</p>
    </div>
    {% endif %}

    <h3>План курса</h3>
    {% if user.is_superuser %}
        <p><a class="add_student_button" href="{%  url 'courses:add-lesson' course.id %}">Добавить занятие</a></p>
    {% endif %}
    <table >
        <tr>
            <th>#</th>
            <th>Тема</th>
            <th>Описание</th>
            {% if user.is_superuser %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for i in lessons %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.subject }}</td>
            <td>{{ i.description }}</td>
            {% if user.is_superuser %}
                <td><a class="add_student_button" href="{%  url 'courses:edit-lesson' i.id %}">Редактировать</a></td>
                <td><a class="add_student_button" href="{%  url 'courses:remove-lesson' i.id %}">Удалить</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
