{% extends 'base.html' %}


{%  block title %}{{ course.name }}{% endblock %}


{% block students_get %}?course_id={{ course.id }}{% endblock %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="messages">
                        {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}

            <h3>{{course.name}}</h3>
            <p class="description">{{ course.description|truncatechars:32 }}</p>
            <table >
                <tr>
                    <th>#</th>
                    <th>Тема</th>
                    <th>Описание</th>
                </tr>
                {% for i in lessons %}
                <tr>
                    <td>{{i.order}}</td>
                    <td>{{i.subject}}</td>
                    <td>{{i.description}}</td>
                </tr>
                {% endfor %}
            </table>
            <p><a class="add_student_button" href="{%  url  'courses:add_lesson' course.id %}">Добавить урок</a></p>
            <div class="master">
                <p class="description"><b>Учитель</b></p>
                <p><a href="{% url 'coaches:detail' course.coach.id %}">{{ course.coach.full_name }}</a></p>
                <p>{{ course.coach.description }}</p>
            </div>
            <div class="master">
                <p class="description"><b>Ассистент</b></p>
                <p><a href="{% url 'coaches:detail' course.assistant.id %}">{{ course.assistant.full_name }}</a></p>
                <p>{{ course.assistant.description }}</p>
            </div>
{% endblock content %}
