{% extends 'base.html' %}


{% block title %}{{ title }}{% endblock title %}


{% block content %}
    {% if user.is_superuser %}
        {% if messages %}
            <div class="messages">
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{msg.message}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h2>Редактировать {{ form.instance.name }}</h2>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="EDIT">
        </form>
    {% endif %}
{% endblock %}