<!Doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{coach.full_name}}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<div id="main_page">
    <div id="page">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                    <li><a href="{% url 'students:list_view' %}">Студенты</a></li>
                    <li><a href="{% url 'quadratic:quadratic_results' %}">Quadratic</a></li>
                </ul>
            </div>
        </nav>
        <div id="content" >
            <h3>{{ coach.full_name }}</h3>
            <table >
                <tr>
                    <td>дата рождения</td>
                    <td>{{ coach.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>адрес</td>
                    <td>{{ coach.address }}</td>
                </tr>
                <tr>
                    <td>почта</td>
                    <td>{{ coach.user.email }}</td>
                </tr>
                <tr>
                    <td>логин skype</td>
                    <td>{{ coach.skype }}</td>
                </tr>
                <tr>
                    <td>телефон</td>
                    <td>{{ coach.phone }}</td>
                </tr>
                <tr>
                    <td>курсы учитель</td>
                    <td>{% if couch_cours %}
                            {% for i in couch_cours %}
                                <a href="{% url 'courses:detail' i.id %}">{{i.name }}</a> Студенты курса <a href="{% url 'students:list_view' %}?course_id={{ i.id }}"><i class="glyphicon glyphicon-share-alt"></i></a><br>

                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>курсы ассистент</td>
                    <td>{% if assistant_cours %}
                            {% for i in assistant_cours %}
                                <a href="{% url 'courses:detail' i.id %}">{{i.name }}</a> Студенты курса <a href="{% url 'students:list_view' %}?course_id={{ i.id }}"><i class="glyphicon glyphicon-share-alt"></i></a><br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div id="footer">
        <p>Created By <a href="https://github.com/volartem" target="_blank">volartem</a> with PyBursa community</p>
    </div>
</div>
</body>
</html>