{% extends 'base.html' %}


{%  block title %}{{ coach.full_name }}{% endblock %}

{% block content %}
            <h3>{{ coach.full_name }}</h3>
            <table >
                <tr>
                    <td>дата рождения</td>
                    <td>{{ coach.date_of_birth|date:'j F, Y' }}</td>
                </tr>
                <tr>
                    <td>адрес</td>
                    <td>{{ coach.address }}</td>
                </tr>
                <tr>
                    <td>почта</td>
                    <td>{{ coach.user.email }}</td>
                </tr>
                <tr>
                    <td>логин skype</td>
                    <td>{{ coach.skype }}</td>
                </tr>
                <tr>
                    <td>телефон</td>
                    <td>{{ coach.phone }}</td>
                </tr>
                <tr>
                    <td>курсы учитель</td>
                    <td>{% if couch_cours %}
                            {% for i in couch_cours %}
                                <a href="{% url 'courses:detail' i.id %}">{{i.name }}</a> Студенты курса <a href="{% url 'students:list_view' %}?course_id={{ i.id }}"><i class="glyphicon glyphicon-share-alt"></i></a><br>

                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>курсы ассистент</td>
                    <td>{% if assistant_cours %}
                            {% for i in assistant_cours %}
                                <a href="{% url 'courses:detail' i.id %}">{{i.name }}</a> Студенты курса <a href="{% url 'students:list_view' %}?course_id={{ i.id }}"><i class="glyphicon glyphicon-share-alt"></i></a><br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
{% endblock %}
